
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

html{
  height: 100%;
  body{
    height: 100%;
    #app{
      height: 100%;
    }
  }
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}

.login-page{
  height: 100%;
  background: url("../image/login.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  .mu-text-field.has-label .mu-text-field-label.float{
    color: #666;
  }
  .mu-text-field-line{
    background-color: rgba(0,0,0,.12);
  }
  .button-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .el-button{
      width: 12rem;
      margin: 10px 0;
    }
  }
}
