@import "variables";
html{
  height: 100%;
  body{
    height: 100%;
    #app{
      height: 100%;
    }
  }
}

.login-page{
  height: 100%;
  background: url("../image/login.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  .center{
    min-width: 250px;
  }
}

.btn a{
  color: $white-color;
  text-decoration: none;
}

.input-box {
  width: 100%;
  background-color: #fff;
  .mu-text-field {
    padding: 0 10px;
    margin: 0 0 0 2rem;
    width: 75%;
  }
  .mu-text-field-hint {
    color: #666;
  }
}
